# PostgreSQL local (exemplo)
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/dev_blog?schema=public"

# Será usado nas próximas etapas para assinatura de JWT
JWT_SECRET="troque-esta-chave-por-uma-chave-longa-e-segura"
